<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Portal</title>
    <link rel="stylesheet" href="/static/css/admin_styles.css">
</head>
<body>
    <header>
        <h1>Admin Portal</h1>
    </header>
    <main>
        <div class="container">
            <div class="card">
                <h2>Manage Users</h2>
                <p>View all user accounts.</p>
                <button onclick=users()>Access</button>
            </div>
            <div class="card">
                <h2>Manage Products</h2>
                <p>Add, update products.</p>
                <button onclick=manage()>Access</button>
            </div>
            <div class="card">
                <h2>View Orders</h2>
                <p>Analyze sales and activity reports.</p>
                <button onclick=orders()>Access</button>
            </div>
            <div class="card">
                <h2>Settings</h2>
                <p>Update system and portal settings.</p>
                <button onclick=settings()>Access</button>
            </div>
        </div>
    </main>
    <script>function users(){
        document.location='/admin/portal/users'
    }
    function manage(){
        document.location='/admin/portal/manage'
    }
    function settings(){
        document.location='/admin/portal/settings'
    }
    function orders(){
        document.location = '/admin/portal/orders'
    }</script>
    <footer>
        <p>&copy; 2024 Shopesite. All rights reserved.</p>
    </footer>
</body>
</html>
