<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}"> <!--this is also acceptable static/css/styles.css -->
    <title>{%block title%}Online Fashion Shopping{%endblock%}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/view_product">View Products</a></li>
                <li><a href="/profile">My profile</a></li>
                <li><a href="/about_us">About Us</a></li>
                <li><a href="/contact_us">Contact Us</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
{% block content %}{% endblock %}
    <footer>
        <p>&copy; 2024 Online Fashion Shopping. All rights reserved.</p>
    </footer>
</body>
</html>
