{%extends 'menu_bar.html'%}

{%block title%}profile{%endblock%}

{%block content%}
    <div class="profile-container">
        <h1 class="profile_h1">Profile Page</h1>
        <div class="profile-info">
            <h2 class="profile_h2">User Information</h2>
            <p class="profile_p"><strong>Username:</strong> <span id="username">{{user_name}}</span></p>
            <p class="profile_p"><strong>Email Address:</strong> <span id="email">{{user_email}}</span></p>
        </div>
        <div class="orders">
            <h2 class="profile_h2">Orders</h2>
            <ul id="orders-list">
                <li>Order #1: Laptop - <strong>Delivered</strong></li>
                <li>Order #2: Smartphone - <strong>Shipped</strong></li>
                <li>Order #3: Headphones - <strong>Pending</strong></li>
            </ul>
        </div>
    </div>
{%endblock%}
